
<table>
    <thead>
        <tr>
            <th>N.</th>
            <th>Title</th>
            <th>Description</th>
            <th>Operations</th>
        </tr>
    </thead>
    <tbody>
        {{#if tasks}}
            {{#each tasks}}
            <tr>
                <td>{{ @index }}</td>
                <td>{{ title }}</td>
                <td>{{ description }}</td>
                <td>
                    {{#if done}}
                        <a href="/toggleDone/{{ _id }}">Undone</a>
                    {{else}}
                        <a href="/toggleDone/{{ _id }}">Done</a>
                    {{/if}} 

                    <a href="/delete/{{ _id }}">Borrar</a>
                    <a href="/task/{{ _id }}/edit">Editar</a>
                </td>
            </tr>
            {{/each}}
        {{else}}

        <p>No hay tareas</p>

        {{/if}}
    </tbody>
</table>

    <li>
        

    </li>
